target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/java/org/trafik/bookstack/www/.env
/src/main/java/org/trafik/bookstack/.migrations
/src/main/java/org/trafik/traefik/letsencrypt/acme.json
/src/main/java/org/trafik/mariadb/databases/aria_log.00000001
/src/main/java/org/trafik/mariadb/databases/aria_log_control
/src/main/java/org/trafik/mariadb/databases/b00806241d12.err
/src/main/java/org/trafik/bookstack/BOOKSTACK_APP_KEY.txt
/src/main/java/org/trafik/bookstack/keys/cert.crt
/src/main/java/org/trafik/bookstack/keys/cert.key
/src/main/java/org/trafik/mariadb/custom.cnf
/src/main/java/org/trafik/bookstack/nginx/site-confs/default.conf
/src/main/java/org/trafik/bookstack/nginx/site-confs/default.conf.sample
/src/main/java/org/trafik/bookstack/nginx/dhparams.pem
/src/main/java/org/trafik/mariadb/databases/ib_buffer_pool
/src/main/java/org/trafik/mariadb/databases/ib_logfile0
/src/main/java/org/trafik/mariadb/databases/ibdata1
/src/main/java/org/trafik/bookstack/www/index.html
/src/main/java/org/trafik/bookstack/www/laravel.log
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000001
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000002
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000003
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000004
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000005
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000006
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000007
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000008
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000009
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000010
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000011
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.000012
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.index
/src/main/java/org/trafik/mariadb/log/mysql/mariadb-bin.state
/src/main/java/org/trafik/bookstack/nginx/nginx.conf
/src/main/java/org/trafik/bookstack/nginx/nginx.conf.sample
/src/main/java/org/trafik/bookstack/php/php-local.ini
/src/main/java/org/trafik/bookstack/nginx/resolver.conf
/src/main/java/org/trafik/bookstack/nginx/ssl.conf
/src/main/java/org/trafik/bookstack/nginx/ssl.conf.sample
/src/main/java/org/trafik/bookstack/nginx/worker_processes.conf
/src/main/java/org/trafik/bookstack/php/www2.conf
