target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/java/env/python/workspace/
/src/main/java/org/traefik/


### ddns配置
src/main/java/env/ddns/data/.ddns_go_config.yaml
src/main/java/env/dns/dns_data/.initialized
src/main/java/env/dns/dns_data/bind/etc/bind.keys
src/main/java/env/dns/dns_data/bind/etc/db.0
src/main/java/env/dns/dns_data/bind/etc/db.127
src/main/java/env/dns/dns_data/bind/etc/db.255
src/main/java/env/dns/dns_data/bind/etc/db.empty
src/main/java/env/dns/dns_data/bind/etc/db.local
src/main/java/env/dns/dns_data/bind/etc/named.conf
src/main/java/env/dns/dns_data/bind/etc/named.conf.default-zones
src/main/java/env/dns/dns_data/bind/etc/named.conf.local
src/main/java/env/dns/dns_data/bind/etc/named.conf.options
src/main/java/env/dns/dns_data/bind/etc/rndc.key
src/main/java/env/dns/dns_data/bind/etc/zones.rfc1918
src/main/java/env/dns/dns_data/bind/lib/jiahangchun.icu.hosts
src/main/java/env/dns/dns_data/webmin/etc/config
src/main/java/env/dns/dns_data/webmin/etc/failed.pl
src/main/java/env/dns/dns_data/webmin/etc/first-install
src/main/java/env/dns/dns_data/webmin/etc/installed.cache
src/main/java/env/dns/dns_data/webmin/etc/login.pl
src/main/java/env/dns/dns_data/webmin/etc/logout.pl
src/main/java/env/dns/dns_data/webmin/etc/miniserv.conf
src/main/java/env/dns/dns_data/webmin/etc/miniserv.pem
src/main/java/env/dns/dns_data/webmin/etc/miniserv.users
src/main/java/env/dns/dns_data/webmin/etc/perl-path
src/main/java/env/dns/dns_data/webmin/etc/reload
src/main/java/env/dns/dns_data/webmin/etc/restart
src/main/java/env/dns/dns_data/webmin/etc/start
src/main/java/env/dns/dns_data/webmin/etc/stop
src/main/java/env/dns/dns_data/webmin/etc/uninstall.sh
src/main/java/env/dns/dns_data/webmin/etc/var-path
src/main/java/env/dns/dns_data/webmin/etc/version
src/main/java/env/dns/dns_data/webmin/etc/webmin.acl
src/main/java/env/dns/dns_data/webmin/etc/acl/config
src/main/java/env/dns/dns_data/webmin/etc/adsl-client/config
src/main/java/env/dns/dns_data/webmin/etc/ajaxterm/config
src/main/java/env/dns/dns_data/webmin/etc/apache/config
src/main/java/env/dns/dns_data/webmin/etc/at/config
src/main/java/env/dns/dns_data/webmin/etc/authentic-theme/settings-root
src/main/java/env/dns/dns_data/webmin/etc/authentic-theme/stats-root.json
src/main/java/env/dns/dns_data/webmin/etc/backup-config/config
src/main/java/env/dns/dns_data/webmin/etc/bacula-backup/config
src/main/java/env/dns/dns_data/webmin/etc/bandwidth/config
src/main/java/env/dns/dns_data/webmin/etc/bind8/config
src/main/java/env/dns/dns_data/webmin/etc/bind8/version
src/main/java/env/dns/dns_data/webmin/etc/bind8/zone-names
src/main/java/env/dns/dns_data/webmin/etc/bind8/zonedef
src/main/java/env/dns/dns_data/webmin/etc/change-user/config
src/main/java/env/dns/dns_data/webmin/etc/cluster-copy/config
src/main/java/env/dns/dns_data/webmin/etc/cluster-cron/config
src/main/java/env/dns/dns_data/webmin/etc/cluster-passwd/config
src/main/java/env/dns/dns_data/webmin/etc/cluster-shell/config
src/main/java/env/dns/dns_data/webmin/etc/cluster-software/config
src/main/java/env/dns/dns_data/webmin/etc/cluster-useradmin/config
src/main/java/env/dns/dns_data/webmin/etc/cluster-usermin/config
src/main/java/env/dns/dns_data/webmin/etc/cluster-webmin/config
src/main/java/env/dns/dns_data/webmin/etc/cpan/config
src/main/java/env/dns/dns_data/webmin/etc/cron/config
src/main/java/env/dns/dns_data/webmin/etc/custom/config
src/main/java/env/dns/dns_data/webmin/etc/dfsadmin/config
src/main/java/env/dns/dns_data/webmin/etc/dhcpd/config
src/main/java/env/dns/dns_data/webmin/etc/dovecot/config
src/main/java/env/dns/dns_data/webmin/etc/exim/config
src/main/java/env/dns/dns_data/webmin/etc/exports/config
src/main/java/env/dns/dns_data/webmin/etc/fail2ban/config
src/main/java/env/dns/dns_data/webmin/etc/fdisk/config
src/main/java/env/dns/dns_data/webmin/etc/fetchmail/config
src/main/java/env/dns/dns_data/webmin/etc/filemin/config
src/main/java/env/dns/dns_data/webmin/etc/filter/config
src/main/java/env/dns/dns_data/webmin/etc/firewall/config
src/main/java/env/dns/dns_data/webmin/etc/firewall6/config
src/main/java/env/dns/dns_data/webmin/etc/firewalld/config
src/main/java/env/dns/dns_data/webmin/etc/fsdump/config
src/main/java/env/dns/dns_data/webmin/etc/grub/config
src/main/java/env/dns/dns_data/webmin/etc/heartbeat/config
src/main/java/env/dns/dns_data/webmin/etc/htaccess-htpasswd/config
src/main/java/env/dns/dns_data/webmin/etc/idmapd/config
src/main/java/env/dns/dns_data/webmin/etc/inetd/config
src/main/java/env/dns/dns_data/webmin/etc/init/config
src/main/java/env/dns/dns_data/webmin/etc/inittab/config
src/main/java/env/dns/dns_data/webmin/etc/ipfilter/config
src/main/java/env/dns/dns_data/webmin/etc/ipfw/config
src/main/java/env/dns/dns_data/webmin/etc/ipsec/config
src/main/java/env/dns/dns_data/webmin/etc/iscsi-client/config
src/main/java/env/dns/dns_data/webmin/etc/iscsi-server/config
src/main/java/env/dns/dns_data/webmin/etc/iscsi-target/config
src/main/java/env/dns/dns_data/webmin/etc/iscsi-tgtd/config
src/main/java/env/dns/dns_data/webmin/etc/jabber/config
src/main/java/env/dns/dns_data/webmin/etc/krb5/config
src/main/java/env/dns/dns_data/webmin/etc/ldap-client/config
src/main/java/env/dns/dns_data/webmin/etc/ldap-server/config
src/main/java/env/dns/dns_data/webmin/etc/ldap-useradmin/config
src/main/java/env/dns/dns_data/webmin/etc/logrotate/config
src/main/java/env/dns/dns_data/webmin/etc/lpadmin/config
src/main/java/env/dns/dns_data/webmin/etc/lvm/config
src/main/java/env/dns/dns_data/webmin/etc/mailboxes/config
src/main/java/env/dns/dns_data/webmin/etc/mailcap/config
src/main/java/env/dns/dns_data/webmin/etc/man/config
src/main/java/env/dns/dns_data/webmin/etc/mon/config
src/main/java/env/dns/dns_data/webmin/etc/mount/config
src/main/java/env/dns/dns_data/webmin/etc/mysql/config
src/main/java/env/dns/dns_data/webmin/etc/net/config
src/main/java/env/dns/dns_data/webmin/etc/nis/config
src/main/java/env/dns/dns_data/webmin/etc/openslp/config
src/main/java/env/dns/dns_data/webmin/etc/package-updates/config
src/main/java/env/dns/dns_data/webmin/etc/pam/config
src/main/java/env/dns/dns_data/webmin/etc/pap/config
src/main/java/env/dns/dns_data/webmin/etc/passwd/config
src/main/java/env/dns/dns_data/webmin/etc/phpini/config
src/main/java/env/dns/dns_data/webmin/etc/postfix/config
src/main/java/env/dns/dns_data/webmin/etc/postfix/version
src/main/java/env/dns/dns_data/webmin/etc/postgresql/config
src/main/java/env/dns/dns_data/webmin/etc/ppp-client/config
src/main/java/env/dns/dns_data/webmin/etc/pptp-client/config
src/main/java/env/dns/dns_data/webmin/etc/pptp-server/config
src/main/java/env/dns/dns_data/webmin/etc/proc/config
src/main/java/env/dns/dns_data/webmin/etc/procmail/config
src/main/java/env/dns/dns_data/webmin/etc/proftpd/config
src/main/java/env/dns/dns_data/webmin/etc/qmailadmin/config
src/main/java/env/dns/dns_data/webmin/etc/quota/config
src/main/java/env/dns/dns_data/webmin/etc/raid/config
src/main/java/env/dns/dns_data/webmin/etc/samba/config
src/main/java/env/dns/dns_data/webmin/etc/sarg/config
src/main/java/env/dns/dns_data/webmin/etc/sendmail/config
src/main/java/env/dns/dns_data/webmin/etc/servers/config
src/main/java/env/dns/dns_data/webmin/etc/shell/config
src/main/java/env/dns/dns_data/webmin/etc/shorewall/config
src/main/java/env/dns/dns_data/webmin/etc/shorewall6/config
src/main/java/env/dns/dns_data/webmin/etc/smart-status/config
src/main/java/env/dns/dns_data/webmin/etc/smf/config
src/main/java/env/dns/dns_data/webmin/etc/software/config
src/main/java/env/dns/dns_data/webmin/etc/spam/config
src/main/java/env/dns/dns_data/webmin/etc/squid/config
src/main/java/env/dns/dns_data/webmin/etc/sshd/config
src/main/java/env/dns/dns_data/webmin/etc/status/config
src/main/java/env/dns/dns_data/webmin/etc/stunnel/config
src/main/java/env/dns/dns_data/webmin/etc/syslog/config
src/main/java/env/dns/dns_data/webmin/etc/syslog-ng/config
src/main/java/env/dns/dns_data/webmin/etc/system-status/config
src/main/java/env/dns/dns_data/webmin/etc/system-status/enable-collection.pl
src/main/java/env/dns/dns_data/webmin/etc/tcpwrappers/config
src/main/java/env/dns/dns_data/webmin/etc/telnet/config
src/main/java/env/dns/dns_data/webmin/etc/time/config
src/main/java/env/dns/dns_data/webmin/etc/tunnel/config
src/main/java/env/dns/dns_data/webmin/etc/updown/config
src/main/java/env/dns/dns_data/webmin/etc/useradmin/config
src/main/java/env/dns/dns_data/webmin/etc/usermin/config
src/main/java/env/dns/dns_data/webmin/etc/vgetty/config
src/main/java/env/dns/dns_data/webmin/etc/webalizer/config
src/main/java/env/dns/dns_data/webmin/etc/webmin/config
src/main/java/env/dns/dns_data/webmin/etc/webmincron/config
src/main/java/env/dns/dns_data/webmin/etc/webmincron/crons/15903329071766.cron
src/main/java/env/dns/dns_data/webmin/etc/webmincron/crons/15903329082209.cron
src/main/java/env/dns/dns_data/webmin/etc/webminlog/config
src/main/java/env/dns/dns_data/webmin/etc/wuftpd/config
src/main/java/env/dns/dns_data/webmin/etc/xinetd/config
